{% include partials/header.html %}

  <div class="jumbotron">
    <h1 class="display-3">
      {% if site.conference.main.logo.img %}
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-75 d-none d-md-inline" alt="{{ site.title }}" />
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-100 d-md-none" alt="{{ site.title }}" />
      {% elsif page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    {% if page.description != none %}
      <p class="lead">
        {{page.description | markdownify | replace: '<p>', '<p class="lead">' }}
      </p>
    {% endif %}

    <hr class="my-4">

    {{ content }}

  </div>

{% include partials/footer.html %}
